*{
    margin: 0;
    padding: 0;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

#cardapiodepizzas{
    background-color:rgb(243, 45, 45); font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    color:rgb(250, 252, 122);}
    

    div{

        text-align: center;
    }

    b{

        text-align: center; font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 400px; 
    }

    img{
        border-radius: 45%;
        position:relative;
        left: 515px;
        top: -05px;
        width: 280px;
    }

    h1{

        text-align: center;
    }

    body{

        background: linear-gradient(-450deg, #ff9b18, #edf769, #ff9b18)
    }
    
       

.rodape{
  /* border: solid 1px white; */
  width: 1230px;
}

.coluna1{
  width: 615px;
  /* border: solid 1px white; */
  text-align: justify;
  font-size: 15px;
}
footer {
  background-color:rgb(255, 46, 46);
  padding: 50px;
  color: aliceblue;
  text-align: center;
}
a{
  color:white;
}
.coluna2{
  text-align:right;
}